@model LocationFood.Web.Controllers.Data.Entities.AdminRestaurant

@{
    ViewData["Title"] = "Details";
}

<h2>AdminRestaurant Details</h2>

<div>
    <h4>AdminRestaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="AddRestaurant" asp-route-id="@Model.Id" class="btn btn-primary">Add Restaurant</a> |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
@if (Model.Restaurants.Count == 0)
{
    <h5>Not Restaurants added yet.</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurants.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurants.FirstOrDefault().Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurants.FirstOrDefault().FixedPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurants.FirstOrDefault().CellPhone)
                </th>
                <th>
                    Imagenes
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Restaurants)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FixedPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantImages.Count)
                </td>
                <td>
                    <a asp-action="EditRestaurant" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="DetailsRestaurant" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="DeleteRestaurant" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
